# Dependencies
/node_modules

# Development
.env
.env*.local

# Production
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos personales y privados
deudas.xlsx
08371df3-9b12-44a5-842d-4d4dc9ec786d.jpeg